/* Estilos generales aplicados a todas las páginas */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #2E4C2B;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1F361D;
  padding: 1rem 2rem;
}

header .logo img {
  height: 80px;
}

header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 2rem;
}

header nav ul li {
  margin: 0;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

header nav ul li a.highlight {
  color: #FFA500;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 0rem;
  background-color: #1f361d09;
  color: white;
}
